.btn-container {
    width: 100%;
    padding-right: 30%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3rem;
}

.units-btn {
    box-shadow: 0.125rem 0.125rem 0.25rem #bbb;
}

.today__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 5rem;
}

.today__card {
    width: 18rem;
    box-shadow: 0.25rem 0.25rem 0.75rem #aaa, 0.125rem 0.125rem 0.25rem #bbb;
    background-color: #f1af4bd2;
}
